<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata</title>
</head>
<body>
    <div>
        <a href="@Url.Action("Text", "Default")">Hata Alma Linki</a>
    </div>
</body>
</html>